node_modules
npm-debug.log
build
dist
.env
.env.local
.env.development
.env.test
.env.production
.DS_Store
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
